body {
  background-color: #ECE2D9; /* Couleur de fond douce */
  font-family: 'Arial', sans-serif; 
}

h1 {
  font-family: 'Arial Black', sans-serif; 
  color: #3C7A89; /* Bleu-vert */
}

h2 {
  color: #B993D6; /* Violet */
}

p {
  line-height: 1.5;
  color: #8A817C; /* Gris taupe */
}

li {
  color: #F6AE99; /* Rose pâle */
  list-style: inside; 
}
