body {
  background-color: #ECE2D9; 
  font-family: 'Arial', sans-serif; 
}

h1 {
  font-family: 'Arial Black', sans-serif; 
  color: #DB282E; 
}

p {
  line-height: 1.5;
  color: #8A817C; 
}

li {
  color: #F6AE99; 
  list-style: inside; 
}

