body {
  background-color: #F2C7B2; 
  font-family: 'Arial', sans-serif; 
}

h1 {
  font-family: 'Arial Black', sans-serif; 
  color: #81A0BD;
}
h2 {
  font-family: 'Arial Black', sans-serif; 
  color: #DE5F62;
}
p {
  line-height: 1.5;
  color:#221714;
}

li {
  color:#F14758; 
  list-style: inside; 
}                                                                     
